/* This file is the styles of cats salon */
/* Author: Yuxin Gao */
/* Date: Mar 9, 2021 */
/* version 0.1 */

#rest {
    background-image: url("../images/pets/cats/catGrooming.jpg");
    width: 1450px;
    height: 844px ;
}

.seat-img{
    top: 120px;
    left: -240px;
    position: relative;

    animation-name: moveCat;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.cat14{
    top: 760px;
    left: 600px;
    position: relative;
}

@keyframes moveCat
{
    0%   {top:120px; left:-240px;  opacity: 0.9;}
    50%  {top:110px; left:-250px;  opacity: 0.9;}
    100% {top:120px; left:-240px;  opacity: 0.9;}
}